<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cr.ac.tec.conalapp.conalapp">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_solo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_solo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PantallaLogin.IniciarSesionActivity"
            android:theme="@style/AppThemeNOActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PantallaRegistroUsuario.RegistroUsuarioActivity"
            android:label="@string/nombre_pantalla_registrar_usuario"
            android:parentActivityName=".PantallaLogin.IniciarSesionActivity"
            android:theme="@style/AppTheme" /> <!-- Poner el boton de atras en el action bar (siguiendo la logica de la pantalla anterior con la siguiente) -->
        <activity
            android:name=".PantallaPrincipal.PrincipalActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemePrincipal" />
        <activity
            android:name=".PantallaConfiguracion.ConfiguracionActivity"
            android:label="@string/nombre_pantalla_configuracion"
            android:parentActivityName=".PantallaPrincipal.PrincipalActivity" />
        <activity
            android:name=".PantallaPuntosInteres.PuntosInteresActivity"
            android:label="@string/nombre_pantalla_puntos_interes"
            android:parentActivityName=".PantallaPrincipal.PrincipalActivity" />
        <activity
            android:name=".PantallaContactos.ContactosActivity"
            android:label="@string/nombre_pantalla_contactos"
            android:parentActivityName=".PantallaPrincipal.PrincipalActivity" />
        <activity
            android:name=".PantallaPerfilUsuario.PerfilUsuarioActivity"
            android:label="@string/nombre_pantalla_perfil_usuario"
            android:parentActivityName=".PantallaPrincipal.PrincipalActivity" />
        <activity
            android:name=".PantallaAboutUs.AboutUsActivity"
            android:label="@string/nombre_pantalla_sobre_nosotros"
            android:parentActivityName=".PantallaPrincipal.PrincipalActivity" />
        <activity
            android:name=".PantallaCrearReunion.CrearReunionActivity"
            android:parentActivityName=".PantallaPrincipal.PrincipalActivity" />
        <activity android:name=".PantallaCrearBoletin.CrearBoletinActivity"></activity>
    </application>

</manifest>